@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello Kitty</h1>
    <p class="lead">Hello Kitty is the best power.</p>
    <p><a href="~/Join" class="btn btn-primary btn-lg">Join now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our pricing</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo at dolor ac suscipit. Fusce at justo ut metus molestie tincidunt eu ac mauris. Nullam porttitor, ligula in bibendum placerat, leo nibh bibendum quam, vel gravida nisi quam sit amet mi. Nulla sed dui lectus. Suspendisse hendrerit tincidunt ornare. Nunc lobortis enim sapien, a fringilla tellus egestas congue. Vestibulum porttitor odio quis erat dapibus, sed mollis magna posuere.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more tools</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo at dolor ac suscipit. Fusce at justo ut metus molestie tincidunt eu ac mauris. Nullam porttitor, ligula in bibendum placerat, leo nibh bibendum quam, vel gravida nisi quam sit amet mi. Nulla sed dui lectus. Suspendisse hendrerit tincidunt ornare. Nunc lobortis enim sapien, a fringilla tellus egestas congue. Vestibulum porttitor odio quis erat dapibus, sed mollis magna posuere.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other stuff</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo at dolor ac suscipit. Fusce at justo ut metus molestie tincidunt eu ac mauris. Nullam porttitor, ligula in bibendum placerat, leo nibh bibendum quam, vel gravida nisi quam sit amet mi. Nulla sed dui lectus. Suspendisse hendrerit tincidunt ornare. Nunc lobortis enim sapien, a fringilla tellus egestas congue. Vestibulum porttitor odio quis erat dapibus, sed mollis magna posuere.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>